* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .website-name {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 75px 8px 55px; /* Change margin to 8px on top, right, and bottom, 0 on left */
  }
  
  
  .topnav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px; /* Adjust padding */
  }
  
  .topnav .search-container {
    flex: 1; /* Use flex to make the search container take up remaining space */
    display: flex;
    padding: 0; /* Remove padding */
    margin-left: 300px;
  }
  
  
  .topnav input[type=text] {
    margin: 0 auto; /* Center the search bar horizontally */
    width: 300px; /* Adjust the width as needed */
    height: 30px;
  }
  
  .topnav .search-container button {
    padding: 6px 10px;
}
  
  @media screen and (max-width: 600px) {
    .topnav .search-container button,
    .topnav a,
    .topnav input[type=text] {
      padding: 8px; /* Adjust padding for small screens */
    }
  }
  .icons {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  
  .icons a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 25px; /* Adjust the font size of the icons */
}
.icons button{
    margin-left: 30px;
  padding: 8px 16px;
  background-color: #2196F3; /* Blue background color */
  color: white;
  border: none;
  border-radius: 20px; /* Adjust the border-radius for a smoother appearance */
  font-size: 15px;
  cursor: pointer;
}

.icons a:hover{
  background-color: #ddd;
  color: black;
}

.icons button:hover {
    background-color: #0b7dda; /* Darker blue background color on hover */
  }

  